/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Section and article styles */
section {
    margin: 20px 0;
}

code {
    margin: 20px 0;
}

article {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
  }

/* Footer styling */
footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

blockquote footer {
    text-align: right;
  }

/* Example container styling */
div {
    width: 300px;              
    padding: 10px;              
    border: 2px solid black;    
    word-wrap: break-word;      
    white-space: normal;        
    margin-bottom: 20px;        
}

p {
    margin-bottom: 20px; /* Adjust this value as needed */
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px; /* Space above the header */
    margin-bottom: 15px; /* Space below the header */
}

blockquote {
    font-style: italic;
    margin: 20px 0;
    padding-left: 20px;
    border-left: 5px solid #ccc;
    color: #555;
    background-color: #f9f9f9; /* Optional */
    margin-bottom: 15px; /* Space below the header */

}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
  }
  

ul, ol {
    padding-left: 50px; /* Increase this value to add more space */
    margin-bottom: 15px; /* Space below the header */
}

/* ul li, ol li {
    margin-bottom: 10px; Optional: add space between list items
} */

